* {
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}


table, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

table {
    width: 30%;
}